<div style="text-align: center; ">
  <h2>APPCOVID</h2>
  <button type="button" class="btn btn-success" (click)="open(content)">Alta</button>

<table class= "table">
  <thead>
      <tr>
          <th>IDNOTIFICACION</th>
          <th>IDQR</th>
          <th>IDSINTOMAS</th>

      </tr>

  </thead>
  <tbody>
      <tr *ngFor="let item of collection.data | paginate: config">
<td>{{item.id}}</td>
<td>{{item.idqr}}</td>
<td>{{item.idsintomas}}</td>
<td>
<button type="button" class="btn btn-primary" (click)="openEditar(content,item)">Editar</button>
  <button type="button" class="btn btn-danger" (click)="eliminarSintoma(item)" >Eliminar</button>
</td>
      </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sintoma create/update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <form [formGroup]="sintomaForm">
          <div class="form-group">
            <label>IdNotificacion</label>
            <input type="number" formControlName="id"class="form-control">
          </div>
          <div class="form-group">
            <label>IdQr</label>
            <input type="number" formControlName="idqr"class="form-control" >
          </div>
          <div class="form-group">
            <label>IdSintomas</label>
            <input type="number" formControlName="idsintomas" class="form-control">
          </div>
        </form>
      </div>
    </form>
  </div>
  <div  class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="guardarSintoma()" *ngIf="!actualizar">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="actualizarSintoma()" *ngIf="actualizar">Actualizar</button>
  </div>

</ng-template>


</div>
