
  <div class="card text-center card text-white bg-dark ">
    <div class="card-header">
      APP COVID
    </div>
    <div class="card-body">
      <h5 class="card-title">USUARIO</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE USUARIO.</p>
      <a href="/operaciones" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div class="card-body">
      <h5 class="card-title">SINTOMAS</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE SINTOMAS.</p>
      <a href="/sintomas" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div class="card-body">
      <h5 class="card-title">CARRERA</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE CARRERA.</p>
      <a href="/carrera" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div class="card-body">
      <h5 class="card-title">NOTIFICACIONES</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE NOTIFICACIONES.</p>
      <a href="/noti" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
