<div class="card text-white bg-primary mb-3 m-5 " style="max-width: 20rem ;">
    <div class="card-header">APPCOVID </div>
    <div class="card-body">
      <h1 class="card-title">USUARIO </h1>
      <p class="card-text"></p>
      <a href="/operaciones" class="btn btn-light">Operacion</a>

    </div>
  </div>
  <div class="card text-white bg-primary mb-3 m-5" style="max-width: 18rem ;">
    <div class="card-header">APPCOVID </div>
    <div class="card-body">
      <h5 class="card-title">SINTOMAS </h5>
      <p class="card-text"></p>
      <a href="/sintomas" class="btn btn-light">Operacion</a>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3 m-5" style="max-width: 18rem ;">
    <div class="card-header">APPCOVID </div>
    <div class="card-body">
      <h5 class="card-title">CARRERA </h5>
      <p class="card-text"></p>
      <a href="/carrera" class="btn btn-light">Operacion</a>
    </div>
  </div>

  <div class="card text-white bg-primary mb-3 m-5" style="max-width: 18rem ;">
    <div class="card-header">APPCOVID </div>
    <div class="card-body">
      <h5 class="card-title">NOTIFICACIONES </h5>
      <p class="card-text"></p>
      <a href="/noti" class="btn btn-light">Operacion</a>
    </div>
  </div>


